.principle {
  &-content {
    @include maxWidth();
    @include sectionSpacing();
    h3 {
      @include headingStyles();
      font-size: size(xl) + 1rem;
    }

    p {
      @include textStyles();
      font-size: size(xs);
    }

    h5 {
      @include headingStyles();
      font-size: size(lg);
    }
  }
}
