.support-header {
  background: linear-gradient(to bottom right, color(primary), color(pink));

  .help-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;

    h1 {
      @include headingStyles();
      color: color(white);
      font-size: size(xl) + 1rem;
    }

    &-input {
      position: relative;

      input {
        position: relative;
        width: 60rem;
        padding: 1.5rem;
        padding-left: 4rem;
        border-radius: 1rem;
        border: 0;

        @include responsive(md) {
          width: 40rem;
        }

        @include responsive(sm) {
          width: 100%;
        }
      }

      input:focus {
        outline: 0;
      }

      a {
        position: absolute;
        top: 1.3rem;
        left: 1rem;
        z-index: 1000;
      }

      i {
        font-size: size(md);
        color: color(primary);
      }
    }
  }
}
