.download-header {
  background-color: color(black);

  h1 {
    @include headingStyles();
    color: color(white);
    font-size: size(xl) + 1rem;
  }

  p {
    @include textStyles();
    color: color(white);
  }
}
