.two-col-content {
  @include maxWidth();
  @include sectionSpacing();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;

  @include responsive(md) {
    grid-template-columns: 1fr;
  }

  &-info {
    @include responsive(md) {
      order: -1;
      text-align: center;
    }
  }

  h2 {
    @include headingStyles();
    font-size: size(xl) + 1rem;
  }

  p {
    @include textStyles();
    font-size: size(sm);
    color: color(muted);
  }
}

.one-col-content {
  @extend .two-col-content;
  @include flexCenter();
  grid-template-columns: 1fr;

  p {
    width: 70%;
    margin: auto;

    @include responsive(md) {
      width: 100%;
    }
  }
}

.hanging-out,
.staying-close {
  background-color: color(gray);
}

.staying-close {
  h3 {
    @include headingStyles();
    font-size: size(xl) + 1rem;
  }
}

svg,
path {
  display: block;
  margin-top: -1px;
  margin-bottom: -1px;
}
